body {
    background-color: #DDE6EE;
}

.container-cardProductsCategories{
    max-width: 190px;
}

.div-container-productCategoryHome{
    justify-content: space-between;
}

.container-cardServices {
    max-width: 280px;
}

.div-container-footer {
    flex-direction: column;
    justify-content: center;
}


@media (min-width: 900px) {

    .div-container-footer {
        justify-content: space-between;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .container-cardProductsCategories{
        max-width: 290px;
    }

    .container-cardServices {
        max-width: 230px;
    }
    .container-appointment-home {
        max-width: 50%;
    }

}

.badge-detail {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem; 
    font-weight: 700; 
    line-height: 1.5; 
    color: #fff; 
    background-color: #007bff; 
    border-radius: 0.25rem; 
}

.badge-detail-gold {
    display: block;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem; 
    font-weight: 700; 
    line-height: 1.5; 
    color: #fff; 
    background-color: #3a3737; 
    border-radius: 0.25rem; 
}